@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Aici poti valida produse</h1>
<br /><br />
<hr />

@foreach(LittleFarmCakes.Models.Product product in ViewBag.Products)
{
    @Html.Partial("ProductInfo", product)

    <div class="w-100 d-flex justify-content-around">
        <a class="btn btn-primary m-3" href="/Products/Show/@product.Id">Afisare produs</a>

        <div class="flex-grow-1"></div>

        <form method="post" action="/Products/Validate/@product.Id/true">

            <button class="btn btn-success m-3" type="submit">Aproba</button>

        </form>

        <form method="post" action="/Products/Validate/@product.Id/false">

            <button class="btn btn-danger m-3" type="submit">Respinge</button>

        </form>
    </div>

}
